.modaHeader {
  background-color: var(--pearl-black-color);
  padding: 22px 25px;
  border-radius: 20px 20px 0px 0px;
}
.contentWrapper {
  padding: 40px 20px;
}
.modalButtonWarpper {
  width: 96px;
  margin-left: auto;
  margin-top: 40px;
}
.modalTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--white-color);
}
